.primary-btn {
  padding: 12px 24px;
  font-size: 16px;
  color: white;
  background-color: $bg;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  outline: none;
  @extend .animate;
  &:hover {
    background-color: $accent;
  }
}

.secondary-btn {
  @extend .primary-btn;
  padding: 0 16px;
  height: 40px;
  color: $text;
  background-color: white;
  border: solid 2px $text;
  border-radius: 50px;
  &:hover {
    color: white;
    border-color: $accent;
  }
}

.btn-icon {
  border: none;
  background: none;
  outline: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  img {
    width: 40%;
  }
}

.btn-icon.down {
  transform: rotate(180deg);
}