.main-footer {
  background-color: $accent;
  padding-bottom: 24px;
  padding-top: 24px;
  color: white;
  .footer-nav {
    li {
      a {
        color: white;
        padding: 5px 10px;
      }
    }
  }
}
