.form-input {
  .input-wrapper {
    position: relative;
    align-items: center;
    background: #fff;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px #909196;
    display: flex;
    @extend .animate;
    &:hover, &:focus, &:active {
      box-shadow: inset 0 0 0 1px #000;
    }
    input, select, textarea {
      font-family: $default;
      background: transparent;
      border: 0;
      color: #000;
      flex: 1 1 auto;
      font-size: 16px;
      line-height: 24px;
      margin: 0;
      min-width: 0;
      padding: 16px;
    }
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }
  .error {
    position: relative;
    padding:  4px 16px 4px 0;
    font-size: 12px;
    color: $red;
    &:after{
      position: absolute;
      content: "";
      right: 0;
      top: 50%;
      margin-top: -6px;
      width: 12px;
      height: 12px;
      display: inline-block;
      background: url("../img/exclamation-circle-solid.svg") 50% 50% no-repeat;
      background-size: cover;
    }
  }
}
.form-input.input-number {
  .icon-card {
    color: $gray;
    width: 18px;
    margin-left: 16px;
  }
}

.custom-input-number {
  display: flex;
  padding: 4px;
  width: 110px;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  border: solid 1px #babbbe;
  span {
    cursor:pointer;
  }
  .minus, .plus{
    display: flex;
    align-items: center;
    justify-content: center;
    width:24px;
    height:24px;
    font-size: 24px;
    line-height: 1;
    color: $mid-gray;
    border-radius:50%;
    &:hover {
      color: white;
      background-color: $gray;
    }
  }
  input{
    padding: 10px 5px;
    color: $text;
    font-family: $bold;
    background: none;
    border: none;
    outline: none;
    font-size: 14px;
    text-align: center;
    height:24px;
    width: 45px;

  }
}