$default: "BogleWeb-Regular", Helvetica Neue, Helvetica, Arial,sans-serif;
$bold: "BogleWeb-Bold", Helvetica Neue, Helvetica, Arial,sans-serif;

$accent: #004f9a;
$bg: #0071dc;
$text: rgba(0,0,0,.9);
$light-gray: #f1f1f2;
$gray: #74767c;
$mid-gray: #46474a;
$red: #de1c24;
